#navBar {
  .navbar-link {
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #3f51b5;
    min-width: 100%;
  }

  & div {
    flex: 1;
    padding: 20px 0;
  }

  .isActiveLink {
    font-weight: 600;
  }

  i {
    padding-right: 10px;
  }

  @media (min-width: 786px) {
    padding: 20px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  @media (max-width: 786px) {
    & > div {
      border-right: 1px solid rgba(18, 18, 18, 0.1);
    }
  }
}
