#footer {
  //   padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 10px 0 rgba(18, 18, 18, 0.1);
  #navBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.grid-container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 0 10px;
}

#grid-left {
  flex: 1;
}

#grid-right {
  flex: 3;
}
